<row>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" >
        </columns>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" alt="">
        </columns>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" alt="">
        </columns>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" alt="">
        </columns>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" alt="">
        </columns>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" alt="">
        </columns>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" alt="">
        </columns>
        <columns small="12" large="6">
            <!--this will be for the waves-->
            <img src="assets/img/wiggle.png" alt="">
        </columns>
    </row>